<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Vue.js - List: v-for Directive</title>
    <script src="https:cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>
  <body>

    <div id="root">
      <!-- content will be written here -->
    </div>

    <script type="text/javascript">

      var vm= new Vue({
        el:"#root",
        data:{
          elements:[
            "Element 1",
            "Element 2",
            "Element 3",
            "Element 4",
            "Element 5",
          ]
        },
        template:`
          <div>
            <ul>
              <li v-for="element in elements">{{element}}</li>
            </ul>

            <p>Without v-for the variable is just output as an array string into the template:</p>
            {{elements}}

            <ul>
              <li v-for="(element, index) in elements">Index: {{index}} Value:{{element}}</li>
            </ul>
          </div>
        `
      });

    </script>

  </body>
</html>
