<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Vue.js - Modify Element - v-on, v-bind Directive</title>
    <script src="https:cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <style media="screen">
      .trash, .edit{
        cursor: pointer;
      }
    </style>
  </head>
  <body>

    <div id="root">
      <!-- content will be written here -->
    </div>

    <script type="text/javascript">

      var vm= new Vue({
        el:"#root",
        data:{
          /* Convert to array of objects:
          elements:[
            "Element 1",
            "Element 2",
            "Element 3",
            "Element 4",
            "Element 5",
          ]
          */
          elements:[
            {text:"Element 1", modifyOn: false},
            {text:"Element 2", modifyOn: false},
            {text:"Element 3", modifyOn: false},
            {text:"Element 4", modifyOn: false},
            {text:"Element 5", modifyOn: false},
          ]
        },
        methods:{
          remove(index){
            console.log("click on index "+index+" button.");
            this.elements=this.elements.filter(function(element, i){
              if(i==index){
                return false;
              }else {
                return true
              }
            });
          },
          modify(index){
            console.log("click on index "+index+" to modify.");
            this.elements[index].modifyOn=true;
          }
        },
        template:`
          <div>
            <ul>
              <li v-for="(element, index) in elements">

               <span v-if="!element.modifyOn"
               v-on:dblclick="modify(index)">{{element.text}}</span>

               <!-- ALTERNATE: v-if="element.modifyOn==true" -->
               <input v-else type="text"
                v-bind:value="element.text"
                style="width:100px;">

               <span class='edit' v-on:click="modify(index)">&#9998;</span>
               <span class='trash' v-on:click="remove(index)">&#x1f5d1;</span>
              </li>
            </ul>
            <div v-if="elements.length==0">Empty list</div>
          </div>
        `
      });

    </script>

  </body>
</html>
