<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Vue.js - Add Element - v-on:keyup.enter Directive</title>
    <script src="https:cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <style media="screen">
      body{
        font-family: arial;
      }
      .trash, .edit{
        cursor: pointer;
        font-size: 21px;
        color:#a7a5a5;
        border: solid 1px #C0C0C0;
        border-radius: 2px;
      }
    </style>
  </head>
  <body>

    <div id="root">
      <!-- content will be written here -->
    </div>

    <script type="text/javascript">

      var vm= new Vue({
        el:"#root",
        data:{
          elements:[
            {text:"Element 1", modifyOn: false},
            {text:"Element 2", modifyOn: false},
            {text:"Element 3", modifyOn: false},
            {text:"Element 4", modifyOn: false},
            {text:"Element 5", modifyOn: false},
          ]
        },
        methods:{
          add(){
            console.log("Add element clicked");
            var length=this.elements.length+1;
            var element={text: "Element "+length, modifyOn:false};
            this.elements.push(element);
          },
          remove(index){
            console.log("click on index "+index+" button.");
            this.elements=this.elements.filter(function(element, i){
              if(i==index){
                return false;
              }else {
                return true
              }
            });
          },
          modify(index){
            console.log("click on index "+index+" to modify.");
            this.elements[index].modifyOn=true;
          },
          valid(index, event){
            //console.log(event.key);
            //console.log("valid test");
            //console.log(index);
            //console.log(event);
            var value=event.target.value;
            //console.log(value);
            this.elements=this.elements.map(function(element,i){
              if(i===index){
                //Value is assigned to the returned object, setting modifyOn back to false,
                //thus hiding the input and displaying the new text.
                return {text: value, modifyOn:false}
              }else{
                return element;
              }
            });
          },

        },
        //Note: Updated is an updating hook:
        //Only vaguely discribed on page 95.
        //Other methods, such as watchers are used for data updates, but this is a UI change.
        updated(){
          console.log("UI updated");
          var inputs =this.$refs.input;
          if(inputs && inputs.length){
            var last_input=inputs[inputs.length-1];
            last_input.focus();
          }
        },
        template:`
          <div>
            <button v-on:click="add()">Add Element</button>

            <ul>
              <li v-for="(element, index) in elements">

               <span v-if="!element.modifyOn"
               v-on:dblclick="modify(index)">{{element.text}}</span>

               <!-- ALTERNATE: v-if="element.modifyOn==true" -->
               <input v-else type="text"
                v-bind:value="element.text"
                v-on:keyup.enter="valid(index, $event)"
                ref="input"
                style="width:100px;">

               <span class='edit' v-on:click="modify(index)">&#9998;</span>
               <span class='trash' v-on:click="remove(index)">&#x1f5d1;</span>
              </li>
            </ul>
            <div v-if="elements.length==0">Empty list</div>
          </div>
        `
      });

    </script>
  </body>
</html>
