<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Vue.js Computed Filter</title>
    <script src="https:cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>
  <body>

    <div id="root">
        <!-- content will be written here -->
    </div>
    <script type="text/javascript">
      var vm = new Vue({
        el: '#root',
        data:{
          name:"",
          names:[
            "Aaron Abbott",
            "Abe Adams",
            "Abraham Adamson"
          ]
        },
        methods:{

        },
        computed:{
          found(){
            return this.names.filter((name)=>{
              if(name.toUpperCase().indexOf(this.name.toUpperCase())== -1){
                return false;
              }else{
                return true
              }
            });
          }
        },
        template:`
            <div>
              Name<br>
              <input type="text" v-model="name"><br>
              <ul>
                <li v-for="name in found">{{name}}</li>
              </ul>
            </div>
        `
      })
    </script>

  </body>
</html>
